/*!*****************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*****************************************************************************************************************************************/
@font-face {
  font-display: swap;
  font-family: "Outfit-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./src/fonts/Outfit-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Outfit-Light";
  font-style: normal;
  font-weight: 300;
  src: url("./src/fonts/Outfit-Light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Outfit-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./src/fonts/Outfit-Medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Outfit-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("./src/fonts/Outfit-SemiBold.ttf") format("truetype");
}
html {
  font-size: 0.972vw;
}
@media (max-width: 1025px) {
  html {
    font-size: 1.27vw;
  }
}
@media (max-width: 541px) {
  html {
    font-size: 1.8vw;
  }
}

body {
  margin: 0;
  color: #fff;
  background-color: #181818;
  font-family: "Outfit-Regular", "sans-serif";
  font-size: 1.143rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background-color: #fe4670;
  border-radius: 0.571rem;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #ca2828;
}

.container {
  max-width: 102.857rem;
  margin: 0 auto;
  padding: 0 6rem;
}
@media (max-width: 541px) {
  .container {
    width: 100%;
    padding: 0 1.143rem;
  }
}

h1,
h2,
h3,
p,
span,
ul {
  margin: 0;
  font-family: "Outfit-Regular", "sans-serif";
  color: #fff;
}

.header {
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 1;
}
.header__wrapper h2 {
  font-weight: 400;
  font-size: 2.571rem;
}
.header__nav-list {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
.header__nav-list li a {
  padding-bottom: 0.5rem;
  font-size: 1.143rem;
  line-height: 1.143rem;
  font-family: "Outfit-Medium", "sans-serif";
  text-decoration: none;
  color: #edfaff;
}
.header__nav-list li a.active {
  border-bottom: 4px solid #fe4670;
}

.footer {
  padding: 5.143rem 0 1.714rem 0;
  background-color: #0a2240;
}
@media (max-width: 541px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 3rem;
  }
}
.footer__wrapper h2 {
  margin-bottom: 1.714rem;
  font-weight: 400;
  font-size: 2.571rem;
}
.footer__wrapper h3 {
  margin-bottom: 2.286rem;
  font-size: 0.857rem;
  line-height: 1.143rem;
}
.footer__wrapper p {
  max-width: 27.5rem;
  font-size: 1.286rem;
  line-height: 1.714rem;
  color: #f6f6f6;
}
.footer__wrapper a {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 541px) {
  .footer__wrapper a {
    width: 20rem;
  }
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
.footer__nav-list li a {
  font-size: 1rem;
  line-height: 1.143rem;
  font-family: "Outfit-Medium", "sans-serif";
  text-decoration: none;
  color: #fff;
}
.footer__address {
  max-width: 18.5rem;
  gap: 1.714rem;
}
.footer__address p {
  font-size: 1.143rem;
  line-height: 1.429rem;
}
.footer__address--map {
  display: flex;
  gap: 0.571rem;
  align-items: center;
  font-size: 1.143rem;
  line-height: 1.714rem;
}
.footer__address--map:after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' fill='none'%3E%3Cpath fill='%23fff' d='M14.911 6.5a.75.75 0 1 1-1.5 0V4.312l-3.72 3.72A.751.751 0 1 1 8.63 6.969l3.72-3.719H10.16a.75.75 0 0 1 0-1.5h4a.75.75 0 0 1 .75.75v4ZM12.161 8a.75.75 0 0 0-.75.75v4h-7.5v-7.5h4a.75.75 0 0 0 0-1.5h-4.25A1.25 1.25 0 0 0 2.411 5v8a1.25 1.25 0 0 0 1.25 1.25h8a1.25 1.25 0 0 0 1.25-1.25V8.75a.75.75 0 0 0-.75-.75Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.footer__address--tel, .footer__address--email {
  font-size: 1.143rem;
  line-height: 1.429rem;
}
.footer__bottom {
  margin-top: 7.143rem;
  padding-top: 1.714rem;
  border-top: 1px solid #888888;
}
.footer__bottom p {
  width: 100%;
  text-align: center;
  color: #d1d1d1;
}

.modal {
  background-color: #181818;
}

.banner-slider {
  position: relative;
  width: 100%;
  height: 40rem;
}
.banner-slider .slider,
.banner-slider .slide {
  height: 40rem;
}
.banner-slider .slide {
  padding-left: 6rem;
}
@media (max-width: 541px) {
  .banner-slider .slide {
    padding: 0 1.2rem;
  }
}
.banner-slider .slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.banner-slider .slide-content {
  height: 100%;
  z-index: 2;
  max-width: 57.143rem;
}
.banner-slider h1 {
  font-size: 5.143rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.018rem;
}
@media (max-width: 541px) {
  .banner-slider h1 {
    font-size: 4rem;
  }
}
.banner-slider p {
  margin-top: 1.429rem;
  max-width: 35.714rem;
  font-family: "Outfit-Light", "sans-serif";
  font-weight: 300;
  font-size: 2.286rem;
  line-height: 2.857rem;
}
.banner-slider .slider-dots {
  gap: 2rem;
  list-style: none;
  padding: 0;
  position: absolute;
  bottom: -6.15rem;
  left: 70%;
  transform: translateX(-50%);
  z-index: 3;
}
@media (max-width: 1025px) {
  .banner-slider .slider-dots {
    left: 50%;
  }
}
.banner-slider .slider-dots li {
  width: 16rem;
  display: flex;
  gap: 1.143rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top: 0.857rem solid transparent;
}
.banner-slider .slider-dots li p {
  margin-top: 1rem;
  color: rgba(79, 79, 79, 0.6);
  font-size: 1.286rem;
  line-height: 1.714rem;
  letter-spacing: 0.018rem;
}
.banner-slider .slider-dots li.active {
  border-top: 0.857rem solid #fe4670;
}
.banner-slider .slider-dots li.active p {
  color: #4f4f4f;
}

.firm {
  padding: 11.429rem 0 13.143rem 0;
  background-color: #f6f6f6;
}
.firm__wrapper h2,
.firm__wrapper h3 {
  color: #0a2240;
}
.firm__wrapper h2 {
  max-width: 66rem;
  margin-bottom: 8.75rem;
  font-size: 2.857rem;
}
.firm__wrapper h3 {
  margin-bottom: 5rem;
  font-family: "Outfit-Medium", "sans-serif";
  font-size: 1.143rem;
}
.firm__wrapper p {
  margin-right: 6rem;
  max-width: 38rem;
  font-size: 1.429rem;
  color: #5d5d5d;
}

.people {
  padding: 8.571rem 0 11.429rem 0;
}
.people__wrapper h3 {
  font-family: "Outfit-Medium", "sans-serif";
  font-size: 1.143rem;
}

.post-query {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.143rem;
}
@media (max-width: 541px) {
  .post-query {
    grid-template-columns: repeat(2, 1fr);
  }
}
.post-query .single-post-item {
  position: relative;
}
.post-query .single-post-item img {
  width: 100%;
  height: 100%;
}
.post-query .single-post-item a {
  text-decoration: none;
}
.post-query .single-post-item__box {
  position: absolute;
  left: 2.143rem;
  bottom: 2.857rem;
}
.post-query .single-post-item__box h4 {
  margin-bottom: 0.571rem;
  font-family: "Outfit-SemiBold", "sans-serif";
  font-size: 2.286rem;
  color: #fff;
}
.post-query .single-post-item__box p {
  font-size: 1.286rem;
  color: #edfaff;
}

.sort-wrapper {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 541px) {
  .sort-wrapper {
    flex-direction: column;
  }
}

.select {
  display: flex;
  align-items: center;
  position: relative;
  width: 18.6rem;
  color: #edfaff;
}
.select p {
  width: 8rem;
  color: #edfaff;
}
.select__head {
  width: 100%;
  max-width: 100%;
  padding: 1.429rem;
  cursor: pointer;
}
.select__head::after {
  width: 12px;
  height: 12px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M11.428 17.763a.808.808 0 0 0 1.144 0l9.691-9.692a.809.809 0 0 0-1.143-1.143L12 16.049 2.88 6.928A.809.809 0 1 0 1.737 8.07l9.691 9.692Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat center/cover;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
  content: "";
  display: block;
  transition: 0.2s ease-in;
}
.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}
.select__list {
  width: 18.6rem;
  padding: 20px;
  display: none;
  position: absolute;
  top: 100%;
  right: -1px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  background-color: #181818;
  border: 1px solid #fff;
  overscroll-behavior: contain;
}
.select__item {
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
  list-style-type: none;
  cursor: pointer;
}
.select__item:not(:last-child) {
  margin-bottom: 1.143rem;
}
.select__item:hover, .select__item:focus {
  color: #fe4670;
}

.search-input {
  margin-right: 3rem;
  display: flex;
  height: 4rem;
  gap: 1.571rem;
}
.search-input p {
  position: relative;
  display: flex;
  align-items: center;
}
.search-input p::after {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23fff' d='M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5Zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14Z'/%3E%3C/svg%3E");
  position: absolute;
  left: 3.7rem;
  bottom: 53%;
  transform: translateY(50%);
}
.search-input input {
  padding: 0 1.143rem !important;
  all: unset;
  width: 28.2rem;
  font-size: 1.429rem;
  border-radius: 0.571rem;
  background-color: #0a2240 !important;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.search-input input:hover, .search-input input:focus-within {
  border: 1px solid #fe4670;
}
.search-input input::placeholder {
  color: #edfaff;
}

.search-no-posts {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
.search-no-posts span {
  color: #fe4670;
}

.search-result-header {
  position: absolute;
  top: -2.3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 3rem;
}
.search-result-header span {
  color: #fe4670;
}

#load-more-posts {
  margin-top: 7.143rem;
  display: flex;
  justify-content: center;
}
#load-more-posts a {
  font-size: 1.286rem;
}

@media (max-width: 541px) {
  .contact__wrapper {
    flex-direction: column;
    gap: 3rem;
  }
  .contact .row {
    gap: 1.1rem;
  }
}
.contact h2 {
  max-width: 28.6rem;
  font-size: 4rem;
  line-height: 4.571rem;
}
.contact .wpcf7 {
  width: 50rem;
}
@media (max-width: 541px) {
  .contact .wpcf7 {
    width: 100%;
  }
}
.contact .wpcf7 .btn {
  font-size: 1.286rem;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item {
  margin: 1.6rem 0 2.1rem 0;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item p {
  font-size: 1.429rem;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item p a {
  color: #fe4670;
  text-decoration: none;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item input[type=checkbox] {
  display: none;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item input[type=checkbox]:checked + .wpcf7-list-item-label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath stroke='%23FFE60B' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.185' d='M1.325 5.448 4.09 8.212l5.528-5.923'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.471.25h10v10h-10z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item .wpcf7-list-item-label {
  display: flex;
  align-items: center;
  gap: 1.143rem;
}
.contact .wpcf7 .wpcf7-acceptance .wpcf7-list-item .wpcf7-list-item-label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 0.286rem;
  background-color: #0a2240;
}
.contact .row input {
  height: 4rem;
}
.contact .row input,
.contact textarea {
  font-size: 1.429rem;
  color: #b6eaff;
  background: #0a2240;
  border: none;
}
.contact .row input:focus,
.contact textarea:focus {
  color: #b6eaff;
  background: #0a2240;
}
.contact textarea {
  height: 17.857rem;
  resize: none;
}
.contact .row input::placeholder,
.contact textarea::placeholder {
  color: #b6eaff;
}
.contact .map {
  margin-top: 8.571rem;
}
.contact .map iframe {
  width: 100%;
  height: 36.857rem;
}
