// Fonts
$regular: 'Outfit-Regular', 'sans-serif';
$light: 'Outfit-Light', 'sans-serif';

//Colors
$white: #fff;
$black: #5d5d5d;
$blue-zodiac: #0a2240;
$bg: #181818;
$red: #fe4670;

//Transition
$transition: all 0.3s ease-in-out;
