// Fonts
$regular: 'Outfit-Regular', 'sans-serif';
$light: 'Outfit-Light', 'sans-serif';
$medium: 'Outfit-Medium', 'sans-serif';
$semiBold: 'Outfit-SemiBold', 'sans-serif';

//Colors
$white: #fff;
$white-2: #f6f6f6;
$white-3: #edfaff;
$black: #5d5d5d;
$blue-zodiac: #0a2240;
$bg: #181818;
$red: #fe4670;

//Transition
$transition: all 0.3s ease-in-out;
